# Node.js dependencies
node_modules/

# Environment variables file
.env

# Webpack build folder
/dist/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other build artifacts
/build/

# OS-specific files
.DS_Store
Thumbs.db
